@charset "UTF-8";
/*
  Em HTML é id = em CSS é  # (Só pode um elemento)
  Em HTML é Class = em CSS é . (pode varios elementos)
*/

body {
    background-color: #bef3d4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0a3f20;
}
h1#principal {
     text-align: center;
     background-color: rgb(65, 121, 65);
     color: white;
}
h2 {

    color: #05582b
}
.basico {
    color:#346407;
    font-weight: bold;
}   

.intermediario{
color: rgb(136, 127, 6);
}

.avancado {
    color: rgb(121, 43, 30);
}

.destaque {
    background-color: rgba(226, 226, 129, 0.815);
}